&usart3 {
    status = "okay";
    current-speed = <115200>;

    pn532 {
        compatible = "nxp,pn532";
    };
};

/ {
    cdc_ncm_eth0: cdc_ncm_eth0 {
        compatible = "zephyr,cdc-ncm-ethernet";
        remote-mac-address = "00005E005301";
    };
};
